$mainBg: #222222;
$mainFontColor: #e0e0e0;

$linkColor: #019CEE;
$boxShadowColor: darken($mainBg, 50%);

$modalContainerBg: rgba(2, 2, 2, .5);
$modalCloseX: '../images/dark/modal-close-x.svg';
$modalHeaderBorderColor: darken($mainFontColor, 70%);
