$mainBgDark: #222222;
$mainBgLight: #f0f0f0;
$mainFontColorDark: #e0e0e0;
$mainFontColorLight: #0e0e0e;

$linkColorDark: #019CEE;
$linkColorLight: #019CEE;
$boxShadowColorDark: darken($mainBgDark, 50%);
$boxShadowColorLight: darken($mainBgLight, 50%);

$modalContainerBgDark: rgba(2, 2, 2, .5);
$modalContainerBgLight: rgba(240, 240, 240, .8);
$modalCloseXDark: '../assets/images/dark/modal-close-x.svg';
$modalCloseXLight: '../assets/images/light/modal-close-x.svg';
$modalHeaderBorderColorDark: darken($mainFontColorDark, 70%);
$modalHeaderBorderColorLight: lighten($mainFontColorLight, 80%);



