$mainBgDark: #222222;
$mainBgLight: #f0f0f0;
$mainFontColorDark: #e0e0e0;
$mainFontColorLight: #0e0e0e;

$linkColorDark: #019CEE;
$linkColorLight: #019CEE;
$boxShadowColorDark: darken($mainBgDark, 50%);
$boxShadowColorLight: darken($mainBgLight, 50%);
